.result-container {
    display: block;
    width: 344px;
    height: 60px;
    margin: 2px;
    padding: 10px;
    background-color: rgb(63, 63, 63);
}

.input {
    display: block;
    font-family: monospace;
    font-size: 25pt;
    color: white;
    text-align: right;
}

.mini-preview {
    font-size: 15pt;
    font-family: monospace;
    color: rgb(104, 103, 103);
    text-align: right;
}

.numpad-row {
    display: block;
    width: 368px;
    height: 92px;
    margin: 0px;
    padding: 0px;
    /* background-color: red;     */
}

.keypad {
    /* untuk box-nya */
    display: inline;
    width: 50px;
    height: 50px;
    float: left;
    margin: 1px;
    padding: 20px;
    background-color: rgb(27, 26, 26);

    /* untuk text-nya */
    font-family: fantasy;
    font-size: 30pt;
    text-align: center;
}

.number {
    color: white;
}

.operator {
    color: aqua;
}

